body {
  font-family: "Georgia", "Times New Roman", serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 40px;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
  color: #007380;
}


a {
  color: #007380;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 0.6em;
}

form {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

input[type="text"], input[type="password"], textarea, select {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"], input[type="button"] {
  background-color: #007380;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #005c66;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}

.custom-file-upload {
  background-color: #007380;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: #005c66;
}

.comment form {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  display: inline !important;
}

.comment input[type="submit"] {
  background: none !important;
  border: none !important;
  color: #777777 !important;
  text-decoration: underline !important;
  cursor: pointer !important;
  font-size: 0.70em !important;
  margin-left: 6px !important;
}

.comment input[type="submit"]:hover {
  color: #333 !important;
}

.comment {
  font-size: 0.9em;  
  line-height: 1.3;
  color: #444;
}

.flash-messages {
  list-style: none;        /* removes bulletpoint */
  padding: 10px 14px;
  margin: 12px 0;
  background-color: #e6fffa;
  border: 1px solid #13443f;
  color: #006d75;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  font-size: 0.95em;
}

.flash-messages li {
  margin: 0;
}


