<!DOCTYPE html>
<html>
<head>
  <title>Edit report</title>
</head>
<body>
  <h1>Edit report</h1>

  <form method="post" action="/report/{{ report.id }}/update">

    <p>Country:<br>
      <input type="text" name="country" value="{{ report.country or '' }}">
    </p>  

    <p>Destination:<br>
      <input type="text" name="title" value="{{ report.title }}">
    </p>

    <p>Description:<br>
      <textarea name="description" rows="8" cols="60">{{ report.description }}</textarea>
    </p>

    <p>Travel date (MM/YYYY):<br>
      <input type="text" name="travel_date" value="{{ report.travel_date }}">
    </p>



    <input type="submit" value="Save changes">
  </form>

  <p><a href="/report/{{ report.id }}">Cancel</a></p>
</body>
</html>



