<!DOCTYPE html>
<html>

<head>
  <title>TripTracker</title>
</head>


<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <p>{{ msg }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1><b>TripTracker</b></h1>
<p>
    Welcome to get inspired and to inspire others in the world of travel experiences and adventures!
</p>
    {% if session.username %}
   <!-- Shown if user if signed IN -->
  <p>
    You are signed in with user name <b>{{ session.username }}</b>.
  </p>
  <p>
  <a href="/new_report">Add a report</a>&nbsp;
  <a href="/logout">Sign out</a>
  </p>
 
  {% else %}
   <!-- Shown if user is signed OUT -->
 <p>
    <a href="/login">Sign in</a>&nbsp;
    <a href="/register">Register</a> 
  </p>
  {% endif %}

  <!-- here are the list of reports / sign in msg -->
  {% if session.username %}
<h2>Travel reports</h2>
<ul>
  {% for report in reports %}
    <li>
      <a href="/report/{{ report.id }}">
        {{ report.title }}
      </a> ({{ report.travel_date }})
    </li>
  {% endfor %}
</ul>

  {% else %}
    <p>Please sign in to see travel reports.</p>
  {% endif %}
</body>
</html>
