<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}


  {% if session.username %}
  <p>
    You are signed in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Sign out</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>
      Username: <br />
      <input type="text" name="username" value="{{ request.form.username }}">
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Login" />
  </form>
  {% endif %}
  
    <p>
    Don't have an account yet? <a href="/register">Register</a>
  </p>
  <p>Forgot your password? For now, please contact the site administrator to reset it.
  </p>
</body>

</html>