<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

  <form action="/create" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Retype password: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Create username" />
  </form>

<p>
  Already have an account? <a href="/login">Sign in</a>
</p>
</body>

</html>